objs/
dist/README-SDL.txt
dist/README-libpng.txt
dist/game.ilk
dist/game.pdb
dist/SDL2.dll
dist/game
dist/game.exe
maek-cache.json
AssetPipeline/AssetPipeline/out/build/x64-debug/.ninja_deps
AssetPipeline/AssetPipeline/out/build/x64-debug/.ninja_log
AssetPipeline/AssetPipeline/out/build/x64-debug/AssetPipeline
AssetPipeline/AssetPipeline/out/build/x64-debug/AssetPipeline.exe
AssetPipeline/AssetPipeline/out/build/x64-debug/AssetPipeline.ilk
AssetPipeline/AssetPipeline/out/build/x64-debug/AssetPipeline.pdb
AssetPipeline/AssetPipeline/out/build/x64-debug/build.ninja
AssetPipeline/AssetPipeline/out/build/x64-debug/cmake_install.cmake
AssetPipeline/AssetPipeline/out/build/x64-debug/CMakeCache.txt
AssetPipeline/AssetPipeline/out/build/x64-debug/VSInheritEnvironments.txt
AssetPipeline/AssetPipeline/out/build/x64-debug/.cmake/api/v1/query/client-MicrosoftVS/query.json
AssetPipeline/AssetPipeline/out/build/x64-debug/.cmake/api/v1/reply/cache-v2-88193045d74fd3afe0e3.json
AssetPipeline/AssetPipeline/out/build/x64-debug/.cmake/api/v1/reply/cmakeFiles-v1-6689fe8fdbbe6b997f99.json
AssetPipeline/AssetPipeline/out/build/x64-debug/.cmake/api/v1/reply/codemodel-v2-70796ad482a419702164.json
AssetPipeline/AssetPipeline/out/build/x64-debug/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
AssetPipeline/AssetPipeline/out/build/x64-debug/.cmake/api/v1/reply/index-2024-09-01T20-17-30-0592.json
AssetPipeline/AssetPipeline/out/build/x64-debug/.cmake/api/v1/reply/target-AssetPipeline-Debug-7f3ee690341a0197ba9d.json
AssetPipeline/AssetPipeline/out/build/x64-debug/.cmake/api/v1/reply/toolchains-v1-d19162570acee6f721be.json
AssetPipeline/AssetPipeline/out/build/x64-debug/asset/pale
AssetPipeline/AssetPipeline/out/build/x64-debug/asset/samp
AssetPipeline/AssetPipeline/out/build/x64-debug/asset/sample.png
AssetPipeline/AssetPipeline/out/build/x64-debug/CMakeFiles/cmake.check_cache
AssetPipeline/AssetPipeline/out/build/x64-debug/CMakeFiles/CMakeConfigureLog.yaml
AssetPipeline/AssetPipeline/out/build/x64-debug/CMakeFiles/rules.ninja
AssetPipeline/AssetPipeline/out/build/x64-debug/CMakeFiles/TargetDirectories.txt
AssetPipeline/AssetPipeline/out/build/x64-debug/CMakeFiles/3.29.5-msvc4/CMakeCCompiler.cmake
AssetPipeline/AssetPipeline/out/build/x64-debug/CMakeFiles/3.29.5-msvc4/CMakeCXXCompiler.cmake
AssetPipeline/AssetPipeline/out/build/x64-debug/CMakeFiles/3.29.5-msvc4/CMakeDetermineCompilerABI_C.bin
AssetPipeline/AssetPipeline/out/build/x64-debug/CMakeFiles/3.29.5-msvc4/CMakeDetermineCompilerABI_CXX.bin
AssetPipeline/AssetPipeline/out/build/x64-debug/CMakeFiles/3.29.5-msvc4/CMakeRCCompiler.cmake
AssetPipeline/AssetPipeline/out/build/x64-debug/CMakeFiles/3.29.5-msvc4/CMakeSystem.cmake
AssetPipeline/AssetPipeline/out/build/x64-debug/CMakeFiles/3.29.5-msvc4/CompilerIdC/CMakeCCompilerId.c
AssetPipeline/AssetPipeline/out/build/x64-debug/CMakeFiles/3.29.5-msvc4/CompilerIdC/CMakeCCompilerId.exe
AssetPipeline/AssetPipeline/out/build/x64-debug/CMakeFiles/3.29.5-msvc4/CompilerIdC/CMakeCCompilerId.obj
AssetPipeline/AssetPipeline/out/build/x64-debug/CMakeFiles/3.29.5-msvc4/CompilerIdCXX/CMakeCXXCompilerId.cpp
AssetPipeline/AssetPipeline/out/build/x64-debug/CMakeFiles/3.29.5-msvc4/CompilerIdCXX/CMakeCXXCompilerId.exe
AssetPipeline/AssetPipeline/out/build/x64-debug/CMakeFiles/3.29.5-msvc4/CompilerIdCXX/CMakeCXXCompilerId.obj
AssetPipeline/AssetPipeline/out/build/x64-debug/CMakeFiles/AssetPipeline.dir/AssetPipeline.cpp.obj
AssetPipeline/AssetPipeline/out/build/x64-debug/CMakeFiles/AssetPipeline.dir/embed.manifest
AssetPipeline/AssetPipeline/out/build/x64-debug/CMakeFiles/AssetPipeline.dir/intermediate.manifest
AssetPipeline/AssetPipeline/out/build/x64-debug/CMakeFiles/AssetPipeline.dir/manifest.rc
AssetPipeline/AssetPipeline/out/build/x64-debug/CMakeFiles/AssetPipeline.dir/manifest.res
AssetPipeline/AssetPipeline/out/build/x64-debug/CMakeFiles/AssetPipeline.dir/vc140.idb
AssetPipeline/AssetPipeline/out/build/x64-debug/CMakeFiles/AssetPipeline.dir/vc140.pdb
AssetPipeline/AssetPipeline/out/build/x64-debug/CMakeFiles/ShowIncludes/foo.h
AssetPipeline/AssetPipeline/out/build/x64-debug/CMakeFiles/ShowIncludes/main.c
AssetPipeline/AssetPipeline/out/build/x64-debug/CMakeFiles/ShowIncludes/main.obj
AssetPipeline/AssetPipeline/out/build/x64-debug/Testing/Temporary/LastTest.log
AssetPipeline/AssetPipeline/.vs/AssetPipeline/v17/DocumentLayout.json
AssetPipeline/AssetPipeline/.vs/AssetPipeline/v17/DocumentLayout.backup.json
AssetPipeline/AssetPipeline/.vs/CMake Overview
AssetPipeline/AssetPipeline/.vs/cmake.db
AssetPipeline/AssetPipeline/.vs/slnx.sqlite
AssetPipeline/AssetPipeline/.vs/VSWorkspaceState.json
AssetPipeline/AssetPipeline/.vs/AssetPipeline/FileContentIndex/64b1621e-b8ba-4480-b5c1-a5c8916b8695.vsidx
AssetPipeline/AssetPipeline/.vs/AssetPipeline/FileContentIndex/e235bab1-36ff-4dbb-88a1-e9802bc06dc4.vsidx
AssetPipeline/AssetPipeline/.vs/AssetPipeline/FileContentIndex/e86defc7-bbc2-449e-912f-9be962554a51.vsidx
AssetPipeline/AssetPipeline/.vs/AssetPipeline/FileContentIndex/e98a2840-d096-4e41-9768-a2ced60d4b4d.vsidx
AssetPipeline/AssetPipeline/.vs/AssetPipeline/FileContentIndex/ee9c493d-ac03-4bed-9757-ab5f1bba4a54.vsidx
AssetPipeline/AssetPipeline/.vs/AssetPipeline/v17/.wsuo
AssetPipeline/AssetPipeline/.vs/AssetPipeline/v17/Browse.VC.db
AssetPipeline/AssetPipeline/.vs/AssetPipeline/v17/Browse.VC.db-shm
AssetPipeline/AssetPipeline/.vs/AssetPipeline/v17/Browse.VC.db-wal
AssetPipeline/AssetPipeline/.vs/AssetPipeline/v17/Browse.VC.opendb
AssetPipeline/AssetPipeline/.vs/AssetPipeline/v17/ipch/AutoPCH/b2dad5a27cb4a292/ASSETPIPELINE.ipch
AssetPipeline/AssetPipeline/.vs/AssetPipeline/v17/ipch/AutoPCH/dccf7aa15003d2a1/READ_WRITE_CHUNK.ipch
AssetPipeline/AssetPipeline/.vs/AssetPipeline/FileContentIndex/45d59f0c-e3fc-4150-9214-5c98ce037f16.vsidx
AssetPipeline/AssetPipeline/.vs/AssetPipeline/v17/Solution.VC.db
.vs/CMakeWorkspaceSettings.json
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/my-game1/FileContentIndex/0c7bc6f9-6f3d-4888-b0c9-824840c15bde.vsidx
.vs/my-game1/FileContentIndex/6a68242f-0d04-4fe1-a0ad-211c57cc8c88.vsidx
.vs/my-game1/v17/.wsuo
.vs/my-game1/v17/Browse.VC.db
.vs/my-game1/v17/Browse.VC.db-shm
.vs/my-game1/v17/Browse.VC.db-wal
.vs/my-game1/v17/Browse.VC.opendb
.vs/my-game1/v17/DocumentLayout.backup.json
.vs/my-game1/v17/DocumentLayout.json
.vs/my-game1/v17/ipch/AutoPCH/54246a356cbcdab5/PLAYMODE.ipch
.vs/my-game1/v17/ipch/AutoPCH/7d6e91f0c21d05c0/DATA_PATH.ipch
.vs/my-game1/v17/ipch/AutoPCH/94bdd3ba89eaf39f/READ_WRITE_CHUNK.ipch
.vs/my-game1/v17/ipch/AutoPCH/d27b2eb09045590d/PPU466.ipch
.vs/my-game1/v17/ipch/AutoPCH/ddfc9af0f9294cf9/DATA_PATH.ipch
.vs/my-game1/FileContentIndex/39ce6789-ec83-450c-ac9b-1f9a1509254d.vsidx
*.vsidx
.vs/VSWorkspaceState.json
.vs/my-game1/v17/ipch/AutoPCH/c5e7fa1ed7207178/ASSETPIPELINE.ipch
.vs/my-game1/v17/ipch/AutoPCH/ce4d562559a1f641/MAIN.ipch
